[2020-03-13 10:03] priitlatt opened #27 "Add option to specify custom xcodebuild flags when building ipa"
When [building ipa](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/xcode-project/build-ipa.md), it is sometimes necessary to define some custom flags or build options that would be sent directly to `xcodebuild` invokation. Much like it is currently possible with [`xcpretty` options](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/xcode-project/build-ipa.md#--xcpretty-o

[2020-05-21 08:52] priitlatt opened #34 "Invalid command and action names in docs"
Commands and subcommands that contain hyphen ('-') are not documented correctly. The normal  hyphen is replaced with the non-breaking hypen ([here](https://github.com/codemagic-ci-cd/cli-tools/blob/master/doc.py#L261) and [here](https://github.com/codemagic-ci-cd/cli-tools/blob/master/doc.py#L160)) for markdown table formatting purposes. This however has a consequence that copy-paste of those comm

[2020-05-21 08:56] priitlatt commented on #34
Once fixed, the backreferences in [codemagic-ci-cd/codemagic-docs](https://github.com/codemagic-ci-cd/codemagic-docs) should be updated too.

[2020-09-30 10:07] priitlatt commented on #27
Resolved by https://github.com/codemagic-ci-cd/cli-tools/pull/53

[2020-09-30 10:07] #27 closed

[2020-12-13 18:37] luichanfe opened #59 "--private-key: Provided value not valid"
Hi,
I get the error message **--private-key: Provided value not valid** on this command **app-store-connect fetch-signing-files $BUNDLE_ID --type IOS_APP_STORE --create**
I've followed this instructions https://docs.codemagic.io/code-signing-yaml/signing-ios/

The file downloaded from apple it's a p8 extension file, I've encrypted it and added to the APP_STORE_CONNECT_PRIVATE_KEY variable.

Any id

[2020-12-22 15:36] priitlatt opened #60 "PyJWT 2.x support"
**Issue description**

`AppStoreConnectApiClient` uses `PyJWT` to manage JSON Web Tokens that are used to authenticate the API calls. (See the `jwt` property from [source](https://github.com/codemagic-ci-cd/cli-tools/blob/448db7741e96ab2eec65d1e4dd44e47d8e7a6bb4/src/codemagic/apple/app_store_connect/api_client.py#L52).)

The API of `PyJWT` changed with version 2.x and now `jwt.encode` returns enco

[2020-12-22 15:40] VeArnold commented on #59
Hey Luic!

It's most likely that you've encrypted the file, not the content, and have not base64 decoded it.

If you share a build link, I'm happy to take a look, thanks.

[2021-01-19 12:48] priitlatt commented on #59
No activity. Closing.

[2021-01-19 12:48] #59 closed

[2021-01-19 13:09] Webjin opened #63 "Feature request: Add option to `app-store-connect fetch-signing-files` to exactly match specified bundle identifier"
Please consider adding a toggle to make the BUNDLE_ID matching strict, instead of wildcard, for the following card

`app-store-connect fetch-signing-files "$BUNDLE_ID" --type IOS_APP_STORE --create`

In our case we have apps with bundle_ids "com.company.project" and "com.company.project.test".
When fetching provisioning profiles for the first it would also return for the second.

Suggeste solution

[2021-01-19 19:52] martinjeret opened #64 "Feature idea: get latest build number from app store connect"
looks like app store connect API has option to get list of builds associated with an app i.e. https://developer.apple.com/documentation/appstoreconnectapi/list_all_builds_of_an_app

maybe we can create some automatic numbering to always use latest build number +1 so people don't need to worry about versioning scripts?

This feature idea is not about of version name

[2021-02-01 10:07] nevercode-kevin opened #65 "Feature request: Submit for review with app-store-connect"
Extend app-store-connect to use the App Store Connect API to submit app for App Store review as described here:

https://developer.apple.com/documentation/appstoreconnectapi/app_store_version_submissions

This would reduce manual interaction with App Store Connect UI which would be advantageous for production workflows.

[2021-02-04 22:19] fbartho commented on #65
Related feature: automatically click the button to "Prepare a new release" -- currently we have to set the marketing version in the AppStore UI manually before the build pops out of CI

[2021-03-03 09:58] priitlatt commented on #64
Resolved by pull request #67. Added actions
- [app-store-connect list-builds](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/list-builds.md)
- [app-store-connect get-latest-testflight-build-number](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/get-latest-testflight-build-number.md)
- [app-store-connect get-latest-app-store-build-nu

[2021-03-03 09:58] #64 closed

[2021-03-15 12:15] BondarenkoStas opened #81 "Feature request: [app-store-connect] expire previous builds, reject build waiting for review"
After implementing a "submit for review" action, the next logical steps would be to allow to expire previous builds and reject waiting review builds.

[2021-03-16 08:28] manggalarefactory opened #83 "Invalid provisioning profile /xxx/xxx.mobileprovision"
Hello i have an issue when command `xcode-project use-profiles`

![Screen Shot 2021-03-16 at 14 34 20](https://user-images.githubusercontent.com/80512656/111278387-0dbcd080-866c-11eb-8258-bca4a59a57d2.png)

any idea what's going on? I tried in my local laptop and had same issue.

[2021-03-16 09:00] BondarenkoStas commented on #83
Hi @manggalarefactory, the most frequent reason is that the profile is not a profile at all. Are you sure it's a `.mobileprovision` profile that you added? What I mean is that sometimes users add a `.cer` certificate or `.zip` archive instead of a profile.

[2021-03-16 10:29] manggalarefactory commented on #83
i build again

![image](https://user-images.githubusercontent.com/80512656/111294444-e9b5bb00-867c-11eb-99e7-ba31ff772083.png)

![image](https://user-images.githubusercontent.com/80512656/111294461-efab9c00-867c-11eb-821c-76ca4ebac4ff.png)

they are same file but can be read. I don't have any idea.
@BondarenkoStas

[2021-03-17 11:20] priitlatt commented on #65
Very bare bones support for the initial request comes with #85. More user friendly support needs further discussion and probably more in-depth approach since it depends on other App Store publishing aspectes.

[2021-03-18 02:30] #83 closed

[2021-03-18 14:44] priitlatt commented on #63
It will be added once #87 gets approved and merged.

[2021-03-19 08:30] #60 closed

[2021-03-19 08:39] #63 closed

[2021-03-19 08:41] priitlatt commented on #63
Available in [version 0.5.3](https://pypi.org/project/codemagic-cli-tools/0.5.3/).

[2021-04-10 15:20] thmatuza commented on #59
I have same problem.
In this line, it is checking if $APP_STORE_CONNECT_PRIVATE_KEY start with "-----BEGIN ".
https://github.com/codemagic-ci-cd/cli-tools/blob/76e06f21fcf198901abeea86092f7fd94e706c92/src/codemagic/tools/_app_store_connect/arguments.py#L34

However, $APP_STORE_CONNECT_PRIVATE_KEY is supposed to be base64 encoded, so it shouldn't start with "-----BEGIN ", I think.

[2021-04-10 15:29] VeArnold commented on #59
@thmatuza Hey - there are two options: you either base64 encode the key (in which case it is a file and you will have to decode it before using this tool) or you encrypt the contents of the key (in this case you do not need to - and should not - base64 encode the string). Thus effectively, it starts with -----BEGIN if done correctly.

[2021-04-10 15:41] thmatuza commented on #59
This means I paste the contents of the key on the `Paste the value of the variable here` edit box, right?

If I use `Choose a file or drag it here`, it will base64 encode, so I need to base64 decode on the script, correct?

![スクリーンショット 2021-04-11 0 37 00](https://user-images.githubusercontent.com/1882905/114275623-239c9600-9a5e-11eb-9297-2dd72e638fb5.png)
](url)

[2021-04-10 15:49] thmatuza commented on #59
I just tried but I guess no.

How can I encrypt the contents of the key?

[2021-04-10 15:56] VeArnold commented on #59
@thmatuza If you encrypt the contents of the key, and the environment variable is set as `APP_STORE_CONNECT_PRIVATE_KEY`, then I would imagine that it would work. In any case it is also important to make sure that you have copied the entire contents.

https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/README.md#--private-keyprivate_key

What command exactly are you run

[2021-04-10 16:22] thmatuza commented on #59
I tried it again and it worked!
I guess I made a mistake last time.

Thank you for your help!

[2021-04-22 11:41] albemala commented on #83
I was having the same issue. Changing this line in the building script from:

`echo ${FCI_PROVISIONING_PROFILE} | base64 --decode > $PROFILE_PATH`

to:

`echo ${FCI_PROVISIONING_PROFILE} | base64 --decode > "$PROFILE_PATH"`

(I added the `""` around `$PROFILE_PATH`) fixed the problem. Hope this helps other people.

[2021-05-17 08:56] #65 closed

[2021-06-08 12:40] helinanever opened #108 "Feature request: display warnings when there is a newer version of CLI tools available"
Show a warning on launch if the current version of CLI tools is older than the most recent one available. This is useful when using the CLI tools locally.

https://codemagicio.slack.com/archives/CEKE2KZ37/p1623152345437900

[2021-06-09 12:36] helinanever opened #109 "Bug: `--testflight` flag for `app-store-connect publish` action has misleading documentation"
The following comment in current documentation in https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/publish.md is inaccurate as it's not possible to submit an app to external testers. Using this flag only makes the build available to internal testers.

[code]

[2021-06-10 09:38] priitlatt commented on #109
@helinanever, could you please propose a better alternative for the description?

[2021-06-11 08:46] priitlatt commented on #109
Taking most recent changes into account, is it still an issue?

[2021-06-11 11:33] helinanever commented on #109
Noy anymore, closing.

[2021-06-11 11:33] #109 closed

[2021-06-16 12:21] craastad opened #115 "display actionable error message when xcodeproj gem is not installed"
The current error message for running `xcode-project use-profiles` is incomprehensible:
[code]

The solution is to run `gem install xcodeproj`.

Can we add a proper error message for this situation so users know they need to run this command? Maybe consider adding a setup validation script? Should we go as far as having a [Bundler Gemfile](https://bundler.io/gemfile.html) (though that would feel s

[2021-06-28 08:58] craastad opened #126 "Do not create keychains to temporary directory by default"
Naively using CLI tools can have undesirable consequences for the mac keychain. We should work to avoid these for default usages.

My mistake was fixed with `keychain make-default ~/Library/Keychains/login.keychain-db`

The code changes are drafted in: https://github.com/codemagic-ci-cd/cli-tools/pull/125/files

[2021-06-28 09:02] priitlatt commented on #126
Currently [`keychain initialize`](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/keychain/initialize.md) indeed creates new keychain into a temporary directory by default. This can cause issues if system is rebooted and login keychain is not set to default beforehand.

[2021-06-29 13:26] helinanever opened #127 "Update docs about CLI options that can be defined using files or environment variables"
In the description for `--beta-build-localizations=BETA_BUILD_LOCALIZATIONS` in`docs/app-store-connect/publish.md`, minor text edits are required. Here's the edited version:

Link to diff: https://github.com/codemagic-ci-cd/cli-tools/pull/124/files#r660574082

[2021-06-29 13:29] priitlatt commented on #127
The description generated by [`EnvironmentArgumentValue. get_description`](https://github.com/codemagic-ci-cd/cli-tools/blob/e1d73613c7b3f9c8b8577af8649b7634e291e6d1/src/codemagic/cli/argument/typed_cli_argument.py#L132) contains some typos and needs to be revised. Original [comment](https://github.com/codemagic-ci-cd/cli-tools/pull/124#pullrequestreview-694976615) was left on PR #124, but it is a

[2021-07-01 12:36] #126 closed

[2021-07-02 11:33] #127 closed

[2021-07-06 11:13] craastad opened #133 "add documentation which commands are macOS specific"
For running CLI tools on asynchronous services, we should mark in CLI tools which commands require macOS/XCode or can be ran on Linux (or Windows?)

My idea, add a tag or line in each of the command documentation that it is macOS specific and/or can be ran on Linux.

[2021-07-29 11:44] martinjeret opened #137 "DOCS default value for --pre-release-version=PRE_RELEASE_VERSION is missing"
It would be good to document what build number are we fetching or what is the default value for

[code]

Users sometimes get unexpected result from this command `app-store-connect get-latest-testflight-build-number`.

[2021-07-30 09:39] craastad opened #138 "handle App Store Connect API key is missing header and footer in app-store-connect commands"
Sometimes users pass in a private key missing the `-----BEGIN PRIVATE KEY-----` or `-----END PRIVATE KEY-----` header or footer. In [app-store-connect](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/README.md) commands, it would be nice to handle this case: either return a helpful error message or just attempt processing the private key if these are missing.

[2021-09-13 11:45] pyrtsa opened #151 "`app-store-connect apps builds <id>` fails with unexpected keyword argument 'lsMinimumSystemVersion'"
When running `app-store-connect apps builds <id>` today with an iOS-only app we own, the tool fails with an error message like:

[code]

and the log file ends with the Python stack trace:

[code]

preceded by a JSON dump where every JSON object under `$.data[].attributes` contains the key `lsMinimumSystemVersion` with a value of `null` (i.e. `None`). (I think this might be a new key Apple have int

[2021-09-13 12:00] pyrtsa commented on #151
The parser seems to lack handling for these three new keys in attributes:
- `computedMinMacOsVersion` (type: `str`)
- `buildAudienceType` (type: ???)
- `lsMinimumSystemVersion` (type: ???)

[2021-09-13 12:06] priitlatt commented on #151
@pyrtsa, thank you for a detailed issue description. We'll look into it soon.

[2021-09-13 12:15] priitlatt commented on #151
@pyrtsa, could you please check what version of tools do you have installed? It can be done calling
[code]
Actually handing for undefined attributes was fixed in [version 0.9.5](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.9.5) already, and as such, with latest revision the command should not fail unexpectedly with an error. Instead the undefined fields are logged into the logfile

[2021-09-13 12:20] pyrtsa commented on #151
Oh, I was on 0.9.4.

You're quite right that 0.9.5 fixes the very issue. Closing this issue, thank you!

[2021-09-13 12:20] #151 closed

[2021-09-15 22:30] poiriermike opened #152 "google-play CLI client does not detect or allow custom tracks"
I've created a custom track, which are now supported in the publishing stage of the pipeline. However, the `google-play` cli tool does not yet support the ability to detect and/or query custom tracks.

This is problematic as publishing to a track increments the version code, but since the google-play tool doesn't detect the custom track, it cannot increment the build number, and thus the build fai

[2021-09-21 08:39] priitlatt opened #154 "`xcode-project build-ipa` fails unexpectedly when export options file does not exist"
Stacktrace:

[code]

[2021-09-29 17:53] victor-heali commented on #137
any updates on this?

[2021-10-29 07:44] artemii-yanushevskyi opened #158 "Signing Certificate type `IOS_DISTRIBUTION` doesn't fall back to `DISTRIBUTION`"
I created `DISTRIBUTION` Signing Certificate and a corresponding provisioning profile. When I try to fetch signing files I get the following error

[code]

I would expect that `DISTRIBUTION` Signing Certificates will be fetched if `IOS_DISTRIBUTION` Signing Certificate were not found

[2021-11-01 17:02] rudrankriyam opened #161 "Command for macOS UI testing"
When interacting with the UI while testing a macOS app, we get an alert for granting permission:

![Screen Shot 2021-10-31 at 4 04 56 PM](https://user-images.githubusercontent.com/30552772/139710081-c3c3133e-14a2-4191-8f97-8eb7a5269c94.png)

![Screen Shot 2021-10-31 at 4 13 38 PM](https://user-images.githubusercontent.com/30552772/139710086-2b1a568c-01c8-4f76-b8ba-c2eac141c70d.png)

It is feasible

[2021-11-12 08:33] priitlatt commented on #161
Thanks for reporting this. We'll look into it.

[2021-11-22 11:43] ankitjainOfficial opened #166 "Get latest build number for custom track"
Right now, when getting latest build number, only some tracks are showing. But, I've custom tracks, where the build number has increased. How can configure to get latest build number from custom tracks as well?

[2021-11-22 11:44] ankitjainOfficial commented on #152
same issue.

[2021-11-24 09:37] priitlatt opened #167 "`app-store-connect` commands fail unexpectedly in case of invalid API key"
In case invalid App Store Connect API key is defined via environment variables, then `app-store-connect` command invocations fail unexpectedly like
[code]
Instead it should show actionable error message about what went wrong.

[2021-11-24 12:15] #167 closed

[2021-11-30 15:22] kolotum opened #171 "Retry app-store-connect fetch-signing-files on error?"
We have the following step in our codemagic.yaml file:

[code]

Sometimes the build fails with the following error message:

When we start the same build it usually works again. So it seems to be a temporary issue at api.appstoreconnect.apple.com.

Is there an easy way to retry the fetch-signing-files on error?

An additional parameter could be helpful:
`app-store-connect fetch-signing-files "$BUN

[2021-12-09 15:48] bohdan1krokhmaliuk commented on #171
Have same issue.
It doesn't relates to fetch-signing-files only. It is general problem,
Sometimes it works fine and sometimes it looks like apple servers have some issues.

Looks like there was similar [issue](https://github.com/fastlane/fastlane/issues/19072) with a fastlane

[2021-12-20 14:36] priitlatt opened #176 "App Store Connect API client JWT expiration"
~~As of version 0.14.1 the default expiration duration of App Store Connect API JSON Web Tokens used by used by [`AppStoreConnectApiClient`](https://github.com/codemagic-ci-cd/cli-tools/blob/v0.14.1/src/codemagic/apple/app_store_connect/api_client.py#L47) is just 30 seconds [[src](https://github.com/codemagic-ci-cd/cli-tools/blob/v0.14.1/src/codemagic/apple/app_store_connect/api_client.py#L82)], w

[2021-12-21 15:36] priitlatt commented on #176
Actually JSON web token expiration is set to 19 minutes from the time they are created, and then they are discarded once less than 30 seconds is left until the hard expiration.

[2021-12-23 17:52] jleach commented on #176
I may have gone this yesterday also, after successfully uploading, the following API call failed. I though it was because my token had `Developer` access but according to the docs it should be enough. In any case, upload worked, but the `GET` call to `v1/apps` failed.

[code]

[2021-12-27 14:34] priitlatt commented on #176
Will be fixed by #184.

[2021-12-27 14:38] priitlatt commented on #171
Will be resolved by #184.

[2021-12-28 09:06] #171 closed

[2021-12-28 09:06] #176 closed

[2021-12-28 09:37] priitlatt commented on #138
Won't fix.

[2021-12-28 09:37] #138 closed

[2021-12-30 09:12] #158 closed

[2022-01-13 09:02] artemii-yanushevskyi opened #194 "Document process to generate mypy stubs"
Per this [discussion](https://github.com/codemagic-ci-cd/cli-tools/pull/192#discussion_r783199184), it would be nice to document the process for generation of mypy stubs with stubgen.

[2022-02-13 06:44] definitelyokay opened #202 "Uploading with app-store-connect and `--max-build-processing-wait 0` results in non-zero exit code"
I've noticed that passing in `--max-build-processing-wait 0` to `app-store-connect` results in a non-zero completion code. I would think that if I deliberately request to skip waiting on processing, the command should succeed after uploading. Is this line of thinking correct?

[code]

<img width="973" alt="Screen Shot 2022-02-13 at 12 38 08 AM" src="https://user-images.githubusercontent.com/164722

[2022-02-15 09:25] priitlatt commented on #202
To add to the previous comment, it looks from the screenshot that everything is in fact correct - uploaded build is discovered in `PROCESSING` state, and since hard limit to max processing duration is set to 0 minutes, all further actions are terminated as the allowed timespan to wait until processing completes (and futher operations can be done) runs out.

[2022-02-16 08:26] priitlatt commented on #202
Thanks for a quick reply. I'll close this issue for now.

[2022-02-16 08:26] #202 closed

[2022-03-12 11:40] rudrankriyam commented on #161
Closing the issue as the relevant permissions required are now present in the VMs

[2022-03-12 11:40] #161 closed

[2022-03-14 10:21] tadejcek opened #208 "Error when executing google-play get-latest-build-number --> TypeError: __init__() missing 1 required positional argument: 'includeRestOfWorld'"
The other day I run `google-play get-latest-build-number --package-name com.company.myapp` and received error and version code for Production track wasn't returned. Version code for Alpha and Beta tracks were returned.

It turns out that last version of AAB on Production track has been rolled out only to two countries. When I rolled it out to all countries `google-play get-latest-build-number --pa

[2022-04-07 07:06] priitlatt commented on #208
Thanks for the report. We'll look into it.

[2022-04-07 08:17] #208 closed

[2022-04-07 08:19] priitlatt commented on #208
This is now fixed in [version 0.23.1](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.23.1). Thank you @tadejcek for reporting it!

[2022-04-07 08:57] #166 closed

[2022-04-07 08:58] helinanever commented on #166
Duplicate of https://github.com/codemagic-ci-cd/cli-tools/issues/152

[2022-04-08 09:22] priitlatt commented on #137
@martinjeret @victor-heali do you have any suggestions how to improve docs for this? Current documentation can be seen from the [here](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/get-latest-testflight-build-number.md#--pre-release-versionpre_release_version).

[2022-04-08 09:44] martinjeret commented on #137
I would add to the part where it says

Optional arguments for action get-latest-testflight-build-number
`--pre-release-version=PRE_RELEASE_VERSION`
Version of the build published to Testflight that identifies an iteration of the bundle. The string can only contain one to three groups of numeric characters (0-9) separated by period in the format [Major].[Minor].[Patch]. For example 3.2.46

If the o

[2022-04-13 07:04] #152 closed

[2022-04-13 07:24] priitlatt commented on #152
@poiriermike @ankitjainOfficial Support for using custom tracks is supported since [version 0.24.0](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.24.0).

[2022-05-05 12:59] tomgilder opened #220 "`xcode-project use-profiles` doesn't read inherited Info.plist setting"
Hello, when we added flavors to our Flutter project our iOS code signing broke. We are using automatic code signing to deploy to the App Store.

Flavors are Flutter's name for different build configurations, which create different build schemes in the Xcode project. We used [flutter_flavorizr](https://pub.dev/packages/flutter_flavorizr) to create the schemes, but our project then failed to build o

[2022-05-08 13:05] DetachHead opened #222 "errors when using the python debugger"
this only seems to occur when running with the python debugger in vscode:
![image](https://user-images.githubusercontent.com/57028336/167297426-ff9662ea-c2ca-465f-ab6c-18edf17395bf.png)

the error doesn't occur when clicking  "Run Python File"

### code
[code]
### output
[code]

[2022-05-08 13:41] kristjanpirnpuu commented on #220
Had same issue with native iOS app. Inherited `PRODUCT_BUNDLE_IDENTIFIER` and some other settings from different xcconfig files for each build configuration.

Xcode 13 no longer creates Info.plist for new projects when using some of the project templates but generates it during build using values stored in project file. To get it working I had to stop using bundle id from xcconfig but hardcode it

[2022-05-11 12:44] priitlatt commented on #222
@DetachHead, could you please check which `pyOpenSSL` and `cryptography` versions are you using in the virtualenv from which you are debugging it?

[2022-05-11 13:28] DetachHead commented on #222
@priitlatt
pyOpenSSL 22.0.0
cryptography 36.0.2

[2022-05-11 13:40] priitlatt commented on #222
Thanks. I'll try to reproduce it and see what can be done about it. I'll keep you posted and let you know if I need any more information.

[2022-05-12 07:00] priitlatt commented on #220
@tomgilder thanks for raising this issue and @kristjanpirnpuu thanks for extra details. We hope to work on it soon and we'll keep you posted regarding further progress.

[2022-05-13 07:53] priitlatt commented on #222
Hi again @DetachHead. I'm unable to reproduce the described issue using VSCode debugger. Tried it with the following versions:

[code]

Could you please make sure that the debug session is using a valid private key? This can be done by attaching debugger on line `apps = app_store_connect.list_apps()` and inspect the value of `app_store_connect._private_key`. You can check it either from variables

[2022-05-14 02:44] DetachHead commented on #222
my bad, turns out this was actually caused by an issue with `python-dotenv` https://github.com/theskumar/python-dotenv/issues/404

[2022-05-14 02:44] #222 closed

[2022-05-26 14:30] priitlatt commented on #220
@tomgilder and @kristjanpirnpuu, could you prepare a public repo containing a simple example project that suffers from this issue?

[2022-05-26 15:22] priitlatt commented on #220
@tomgilder and @kristjanpirnpuu Alternatively, perhaps you could try out the possible fix I created in #232?

The patch can be installed as follows:
[code]

[2022-05-26 17:41] JonathanAJ commented on #220
Hello everyone. I'm having same's @tomgilder problems when I try build my project with flavors. I will try test @priitlatt fix. Thanks!

[2022-05-26 20:06] JonathanAJ commented on #220
Hey guys, after fix made by @priitlatt my iOS workflow with flavors ran successfully!! 👍🏾

But you must add the ` pip uninstall -y codemagic-cli-tools` with -y to accept uninstall.

Output after change:
[code]

  Congratulations @priitlatt !! 👏🏾 👏🏾 👏🏾 👏🏾  When you can merge to oficial codemagic-cli?

[2022-05-27 07:30] priitlatt commented on #220
@JonathanAJ thanks for checking it out and getting back with the results. I'll conduct some more testing on my part with other possible configurations to ensure that there is no regression with the introduced changes. All in all I hope to deploy it later today.

[2022-05-27 08:58] #220 closed

[2022-05-27 09:16] priitlatt commented on #220
Fix is now released with [version 0.27.0](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.27.0). Sincere thanks to everyone who contributed!

[2022-05-30 22:07] mmattes opened #233 "keychain -h does not mention option -p or --path"
I have the cli tools version 0.27.0 on my system running `keychain -h` does not mention the -p or --path option which is mentioned here in github https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/keychain/README.md. I think it would be good for other users to add this to the `keychain -h`

[2022-05-30 22:10] mmattes opened #234 "keychain initialize --path=$(mktmp) fails keychain initialize --path=$(mktmp).keychain-db works"
`keychain initialize --path=$(mktmp)` fails `keychain initialize --path=$(mktmp).keychain-db` works. It is a bit irritating for me that i explicitly need to end the path on .keychain-db and that i cant just provide a path

[2022-06-02 11:46] DetachHead opened #237 "documentation link for `Profiles.get_bundle_id_resource_id` is dead"
https://github.com/codemagic-ci-cd/cli-tools/blob/5058be610f2a7219310037f8cbeffbf647bcb174/src/codemagic/apple/app_store_connect/provisioning/profiles.py#L122

![image](https://user-images.githubusercontent.com/57028336/171622455-d5b90c7e-06f4-47cc-a858-f8c86bbaab4f.png)

[2022-07-05 11:30] kristjanpirnpuu commented on #220
I was still using explicit build settings that was only way to build and after this update it started failing. Logs say no more than `xcodebuild` archive exit with status code 74. Then updated build settings to inherit from conf files but nothing changed.

Workspace itself contains 2 projects - app and framework both created with Xcode 13. App has implicit build dependency to framework by embeddin

[2022-07-26 11:28] Nytrm commented on #237
https://developer.apple.com/documentation/appstoreconnectapi/read_the_bundle_id_in_a_profile

would probably be the new one, `/profiles/{profile}/relationships/bundleId`  on line 128 needs to be changed accordingly.
to `profiles/{profile}/bundleId`

[2022-07-26 11:42] Nytrm commented on #237
ah i see different endpoint but they removed the documentation, yet would it not be better to use the https://developer.apple.com/documentation/appstoreconnectapi/read_the_bundle_id_in_a_profile endpoint instead and remove the other one ? (or link it to the new endpoint)

[2022-08-01 17:45] asudharsan opened #251 "Facing issue connecting with test flight via app-store-connect CLI"
Hi team,
I am trying to connect to test flight in app store connect using the command

[code]

But i keep running into the error below

[code]

I used the same command back in May but i never faced this issue. But now I am getting this token issue which according to the link https://developer.apple.com/go/?id=api-generating-tokens is for sending CURL request but not to use with the command `app-st

[2022-08-12 16:11] Yahllil opened #252 "Create an Apple APNS key from CLI"
Hello,
I’m currently working on a white-label app that I want to deploy through a CI/CD.
Each version of my white-label app would have a different Firebase project for using Firebase Messaging.

As you probably know, Apple enforces each version of a white-label app to be uploaded through the client’s developer account. That means, that for using iOS Push Notification, an APNS key/certificate would

[2022-08-15 11:54] Ycoi commented on #252
Unfortunately Apple doesn’t offer an API for creating and downloading APNS keys like they do for signing Certificates. Thus it’s unfortunately not possible for us to add this feature to the CLI tool.

[2022-08-25 12:49] priitlatt commented on #252
As @Ycoi said, unfortunately it cannot be done.

[2022-08-25 12:49] #252 closed

[2022-09-05 13:08] #237 closed

[2022-09-05 13:09] VeArnold commented on #237
Thanks for reporting; we've updated the docstring to point to the resource instead, as the other endpoint returns considerable more data, which is not required for these definitions.

[2022-09-08 07:13] priitlatt commented on #251
Hi @asudharsan. Thanks for reaching out and sorry for the delayed response on our part. Could you please confirm that you're still experiencing the issue that you've described?

Authentication mechanism in `app-store-connect` internals is not changed and the JWT tokens that are discussed in the documentation you referenced are the ones that `app-store-connect` also uses. Under the hood it does the

[2022-09-08 07:26] priitlatt commented on #233
@mmattes Thanks for bringing this to our attention. Sadly the arguments that apply to the whole tool (regardless of certain action) are not displayed when `tool-name --help / -h` is used. This is a limitation that applies not only to `keychain` but to all other tools, such as `app-store-connect` etc, too.

This is the default behaviour of Python's `argparse` module which is used for underlying imp

[2022-09-08 07:37] priitlatt commented on #234
Hi @mmattes. The problem with
[code]
is that `mktemp` already creates a new file:
[code]
It is a safeguard by `security` (command line interface to keychains, which is used under the hood) to prohibit overwriting already existing keychains as secrets could be erased accidentally this way.

Now, by passing `$(mktemp).keychain-db` to the `--path` argument you are essentially creating a new file at s

[2022-09-09 18:14] asudharsan commented on #251
@priitlatt Thank you reaching out. Sorry i should have updated before but the issue was I was using the arguments wrongly. I was able to correct it and issue got resolved

[2022-09-09 18:14] #251 closed

[2022-09-13 08:35] dkvyk opened #262 "[App Store Connect] Allow to specify IOS_Distribution certificate type for creation in fetch_signing_files"
With the current approach, when calling fetch-signing-files with --type IOS_APP_STORE, if a matching certificate was not found DISTRIBUTION certificate will be created.
Please allow specifying certificate type used for creation.
Because of Apple limitations, we cannot use more than 3 DISTRIBUTION certificates and we want to be able to generate IOS_DISTRIBUTION ones automatically.

[2022-09-14 09:18] priitlatt commented on #262
@dkvyk thank you for the feedback and for raising this issue.

Indeed there is a hard limit of 3 by Apple on how many distribution certificates can a single Apple Developer Portal team have. For now we've chosen to map `IOS_APP_STORE` provisioning profile type to use `DISTRIBUTION` certificates as those are more versatile than `IOS_DISTRIBUTION` certificates in a sense that those can also be used

[2022-09-14 09:18] #81 closed

[2022-09-14 15:30] asudharsan opened #264 "Issues with Xcode 14 update for app-store-connect CLI tool"
I updated to Xcode 14 yesterday and when I try to use the app-store-connect CLI tool, I am getting this error

File "/Users/Automation01/Library/Python/3.8/bin/app-store-connect", line 5, in <module>
    from codemagic.tools import AppStoreConnect
ModuleNotFoundError: No module named 'codemagic'

This is the error I get when I try to do --help command too

**Automation01 % app-store-connect --help

[2022-09-14 15:46] asudharsan commented on #264
After updating the cli tools using `pip3 install --upgrade codemagic-cli-tools` the issue got resolved

[2022-09-14 15:46] #264 closed

[2022-09-23 15:49] SharbelOkzan opened #265 "export_options.plist not found when using codemagic.yaml"
I was using the Workflow Editor to build and deploy a Flutter project. Everything was fine and the workflow was publishing successfully both for Android and iOS. Then we decided to use codemagic.yaml instead of the Workflow Editor.

When switching, I checked the _Export current configuration as codemagic.yaml_ option and committed the generated codemagic.yaml to the repo. I expected that this file

[2022-09-26 15:14] priitlatt commented on #265
Hi @SharbelOkzan and thank you for bringing our attention to this issue.

As you already pointed out, by default `xcode-project use-profiles` saves generated export options property list to `$HOME/export_options.plist` (as per [docs](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/xcode-project/use-profiles.md#--export-options-plistexport_options_path)). And as you managed to get you

[2022-09-26 15:14] #265 closed

[2022-09-26 15:37] SharbelOkzan commented on #265
@priitlatt Thankyou very much for the detailed response. I was missing a lot of facts (didn't know that Flutter is responsible for expanding the `~`).

It's clear to me now that I opened the issue in the wrong repo, since it's not an issue in the cli. It's only that the YAML export mechanism needs a slight update.

Thankyou! that will save other developers a lot of time debugging this when switchi

[2022-09-27 08:46] priitlatt commented on #265
@SharbelOkzan, just writing to let you know that YAML configuration export is also patched in Codemagic now.

[2022-10-03 19:53] cosmicvarion opened #270 "xcode-project build-ipa CODE_SIGN_IDENTITY Xcode 14 Issue"
`xcode-project build-ipa` automatically adds a flag, `'CODE_SIGN_IDENTITY=iPhone Distribution'`, and this causes issues with SPM in Xcode 14. Please find more info in this Swift forums [thread](https://forums.swift.org/t/xcode-14-beta-code-signing-issues-when-spm-targets-include-resources/59685).

In our case, `xcode-project build-ipa` created a command like this:
[code]
and there is a resulting e

[2022-10-04 06:27] icarusdust commented on #270
You can define arbitrary xcargs to xcodebuild archive by using [--archive-xcargs](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/xcode-project/build-ipa.md#--archive-xcargsarchive_xcargs) and pass CODE_SIGN_STYLE in order to solve this error.
As I cannot reproduce this issue, can you make a minimal open source version of your app where you can reproduce this error with Xcode 14, so

[2022-10-06 07:51] nevercode-kevin opened #272 "Allow use-profiles custom export options to use @file: reference"
Currently, it is only possible to pass custom export options with CLI args. For example:

`--custom-export-options='{"uploadBitcode": false, "uploadSymbols": false}'`

Can we make it possible to reference a JSON file that contains the options like this:

`--custom-export-options=@file:/path/to/file/export_options.json`

[2022-10-10 13:12] icarusdust commented on #270
@cosmicvarion If you are still struggling with this issue, you can get it fixed by adding `--archive-flags` to `xcode-project build ipa`:

`--archive-flags "-destination 'generic/platform=iOS' CODE_SIGNING_REQUIRED=YES CODE_SIGNING_ALLOWED=NO"`

Please keep me updated about the result. Besides, please note that as your team is on the paid plan, you can get in touch with us directly using the chat

[2022-10-20 21:36] roblframpton opened #276 "When Cocoapods is not installed, xcode-project shows "Failed to set code signing settings for x" with no further information, even with verbose output"
I am trying to build a Flutter project.  I have successfully added my profiles to my keychain,
but when I run `xcode-project use-profiles` I get the error:

[code]

Sadly the `--verbose` option doesn't give any extra output.  Does anyone know how I can debug this issue?

MacOS 12.0.1
XCode 13.4.1
xcode-project version 0.34.1
Python 3.8

------------------

**EDIT: I think I resolved this.**  The p

[2022-10-21 11:11] priitlatt commented on #276
@roblframpton thanks for pointing this out. It definitely shouldn't be a burden on the end user to figure out what is causing such problems. We'll see what can be done regarding this and keep you posted here.

[2022-10-22 11:10] marianhlavac opened #278 "Feature request: Using iTMSTransporter instead of xcrun altool for `publish` subcommand"
This might be a stupid question, as I don't understand the upload process to App Store Connect too deeply, but I was wondering, if it's possible to publish the ipa packages using iTMSTransporter.

This will enable use of `publish` subcommand on other systems and will remove the requirement of running the publish command on macOS systems, as the tool can be run on Linux and Windows systems.

It cou

[2022-10-22 15:36] nilsreichardt opened #279 "Feature request: Add `get-latest-build-number` command"
## Description

There is already a `get-latest-app-store-build-number` and `get-latest-testflight-build-number` command. However, I need to get the highest build number, either from AppStore or TestFlight:

Let's look at this example:
* AppStore has build number 31.
* TestFlight has build number 30.

The value of `get-latest-build-number` would be 31.

Another case:
* AppStore has build number 30.

[2022-10-25 11:26] #276 closed

[2022-10-25 11:40] priitlatt commented on #115
This was resolved by PR #277.

[2022-10-25 11:40] #115 closed

[2022-10-25 11:40] priitlatt commented on #276
Fix for this was released with version [0.34.3](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.34.3).

[2022-10-31 11:29] priitlatt commented on #278
@marianhlavac, thank you for bringing up this feature request. We'll add this to our roadmap as it genuinely can be a useful thing to have.
However, since it requires quite a bit of development effort I cannot give any deadlines or estimates as of now regarding when this feature will be released.

[2022-10-31 11:31] marianhlavac commented on #278
That's understandable. Thanks for the consideration.

[2022-11-01 12:20] #279 closed

[2022-11-01 12:56] priitlatt commented on #279
@nilsreichardt This is now available as part of version [0.35.0](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.35.0) with [`app-store-connect get-latest-build-number`](https://github.com/codemagic-ci-cd/cli-tools/blob/master/docs/app-store-connect/get-latest-build-number.md#usage).

[2022-11-01 12:57] nilsreichardt commented on #279
Oh nice! Thanks for the quick implementation, @priitlatt 🙏

[2022-11-02 17:33] aetherealtech opened #282 "Crash in app-store-connect on Python 3.11"
We have a GitHub action that uses `app-store-connect`.  A few days ago, the macOS 12 runner was upgraded from Python 3.10 to Python 3.11.  There's apparently a problem with the paths after this update, which led me to file [this bug](https://github.com/actions/runner-images/issues/6507) against the runner.  A workaround for that is to invoke the tool from its full path inside the Python framework:

[2022-11-04 09:53] priitlatt commented on #282
@aetherealtech, thanks for reporting this. We'll get it resolved ASAP.

[2022-11-04 10:29] #272 closed

[2022-11-04 12:10] #282 closed

[2022-11-04 12:18] priitlatt commented on #282
@aetherealtech fix is available with version `0.36.2`:
- [Github release](https://github.com/codemagic-ci-cd/cli-tools/releases/tag/v0.36.2),
- [PyPI handle](https://pypi.org/project/codemagic-cli-tools/0.36.2/).

[2022-11-07 09:33] agorkiy opened #285 "keychain: command not found"
Hi
I'm using codemagic cli tools in github workflow to build ios app. It worked fine 6 days ago, but now gives this error:
[code]
Here is the entire workflow step:
[code]
Here is full log:
[code]
Any idea what went wrong? I see that your tools were updated recently, as well as macos on github from `11.7` to `11.7.1`. Already tried dowgrade your tools version to `0.34` (which worked before)/updated

[2022-11-07 15:17] priitlatt commented on #285
Hi @agorkiy. This is most likely due to changes that were made to macOS runner image. There is also a relevant issue for that in in the runner images repo: https://github.com/actions/runner-images/issues/6507. Unfortunately we don't have any control over that.

For now the easiest workaround seems to be to add
[code]
to system `PATH` as was suggested by @ssrobins in this [comment](https://github.c

[2022-11-07 16:00] agorkiy commented on #285
@priitlatt this fixed an issue, thank you.

[2022-11-07 16:00] #285 closed

[2022-11-18 18:13] ziga-hvalec opened #286 "Outdated bundletools"
Current Bundle tools version is 0.15.0
Latest available is 1.13.1

Latest react-native abb fails to extract apk.

[2022-11-21 08:41] VeArnold commented on #286
Hi @ziga-hvalec!

Thanks for raising the issue. Is there any chance you could provide more concrete reproducible steps? :)

[2022-11-22 02:42] #286 closed

[2022-11-26 19:30] kevmo314 opened #288 "Remove existing builds from review with `publish`"
Is it possible to remove any pending builds from review with the `publish` command? We end up having a decent number of builds get rejected because there's already a build pending for review which makes our testflight not match the latest version.

[2022-11-26 19:38] kevmo314 commented on #288
This would be similar to fastlane's `reject_if_possible`: http://docs.fastlane.tools/actions/upload_to_app_store/#upload_to_app_store

[2022-11-28 09:14] priitlatt commented on #288
Hi @kevmo314, thanks for bringing this up. This sure sounds like a useful addition to `app-store-connect publish`. We'll give it some more thought on how to implement it and let you know. But please note that as of now I'm not yet able to give any ETA for it.

[2022-11-29 08:38] VeArnold commented on #288
@kevmo314

Hi! :)

Good proposal. However, to understand the aims and goals better, based on your description, it seems that the more fitting extension would be equivalent to Fastlane's `reject_build_waiting_for_review` instead of `expire_previous_builds`.

Please correct me if I am missing something. Thanks! :)

[2022-11-29 15:25] kevmo314 commented on #288
Yeah that's probably correct. We run publish as our last CI/CD step right now and it fails due to an existing build being in review (both testflight and app store) so the ideal behavior would be to be able to unmark the older builds